# Logs
*.log
logs
**/*.backup.*
**/*.back.*

# Runtime data

# Dependency directories
node_modules/
bower_components/

# IDE files
*.sublime*
.vscode/

# Project files
psd/
thumb/
sketch/

# Environment variables
.env
.env.*
!/.env.example

# Production build folder
dist/
build/

# Mac files
.DS_Store

# End of https://mrkandreev.name/snippets/gitignore-generator/#react